{{#each tasks}}
<div class="box mb-3">
    <div class="level">
        <div class="level-left">
            <div class="level-item">
                <p class="subtitle {{#if completed}}completed{{/if}}">{{title}}</p>
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <button class="button is-small {{#if completed}}is-light{{else}}is-success{{/if}}" 
                        hx-post="/tasks/{{_id}}/toggle" 
                        hx-target="#task-list">
                    {{#if completed}}Undo{{else}}Complete{{/if}}
                </button>
            </div>
            <div class="level-item">
                <button class="button is-small is-danger" 
                        hx-delete="/tasks/{{_id}}" 
                        hx-target="#task-list"
                        hx-confirm="Are you sure?">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>
{{else}}
<p class="has-text-centered has-text-grey">No tasks yet. Add one above!</p>
{{/each}}
